@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <h3 class="text-dark">Forgot Password</h3>
<form asp-controller="Security" asp-action="ForgotPassword" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <label id="email" >E-Mail: </label>
    <input id="email" name="email" type="email"/> <br/>

    <input type="submit" class="btn btn-success"/>

</form>

</body>
</html>
