@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Reset Confirm</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div>
    <p>Your password has been reset!</p>
</div>
</body>
</html>