@model AspNetCoreMvc3.Introduction.Models.Security.ResetPasswordViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Security" asp-action="ResetPassword" method="post">
   
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <label asp-for="Password">Password: </label>
    <input type="password" asp-for="Password" /> <br />
    
    <label asp-for="ConfirmedPassword">Confirm Password: </label>
    <input type="password" asp-for="ConfirmedPassword" /> <br />
    
    <input asp-for="Email" type="email" hidden="true" value="@Model.Email"/>
    <input asp-for="Code" type="text" hidden="true" value="@Model.Code"/>
    
    <input type="submit" class="btn btn-success" />

</form>

</body>
</html>
