@model AspNetCoreMvc3.Introduction.Models.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        <h1>Hello From Index View!</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.CityId</td>
                    </tr>
                }
            </tbody>
        </table>
        
        @using (Html.BeginForm()) 
        //Created disposable form. It Automatically creates <form action="/home/Index" method="post>
        //tag for us so it is really easy to use. Like it.
        {
            <input type="text" id="" name="" />
            <button class="btn btn-success" type="submit" >Submit!</button>
        }

    </div>
</body>
</html>